
<? include partials/header ?>

<div class="jumbotron">
  <h1 class="text-center">Search Results</h1>
</div>

<div class="container" style="max-width: 400px">

  <ul>
    <? searchResults.forEach(function(item) { ?>

      <li> <?= item.Title ?> (<?= item.Year ?>) </li>

    <? }); ?>
  </ul>

  <a href="/" class="text-center" style="display: block;">  Back to Search
  </a>

</div>

</ include partials/footer ?>
